@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Crete Round&display=swap");
@import url("https://fonts.googleapis.com/css?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

*,
*::after,
*::before {
    box-sizing: border-box;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.menu-inactive {
    background: hsla(20, 3%, 23%, 1);
    transform: translateX(300%);
    height: 95vh;
    width: 100vw;
}

#toggle {
    width: 1rem;
    height: 1rem;
    background: url(./img/bar-icon.png) no-repeat;
    background-size: 100%;
    z-index: 9999;
    position: fixed;
    right: 2rem;
    top: 0.25rem;
    padding: 2rem;
    border: 0;
}

.toggle-active {
    background: url(./img/close-icon.png) no-repeat;
    z-index: 888;
    display: none;
}

.menu-close {
    display: none;
    width: 1rem;
    height: 1rem;
    z-index: 9999;
    position: fixed;
    right: 1rem;
    top: 1.25rem;
    padding: 2rem;
    border: 0;
    background: url(./img/close-icon.png) no-repeat;
}

.menu-active {
    background: hsla(20, 3%, 23%, 1);
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 95vh;
    z-index: 1;
    padding: 0;
    transform: translateX(0%);
}

.toggle-active ul li {
    color: hsla(40, 100%, 94%, 1);
}

html,
body {
    margin: 0 auto;
    max-width: 100%;
    overflow-x: hidden;
    position: relative;
}

main {
    flex: 1 1 auto;
}

ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 6vw;
}


hr {
    width: 15%;
    border: 1px solid red;
}

img {
    width: 100%;
}

label {
    display: none;
}

h1,
p,
a {
    text-align: center;
}

.intro {
    background: #1c1a19;
    width: 100%;
    background: url(./img/landing-page.jpg) center no-repeat;
    display: flex;
    flex-direction: column;
    padding: 5rem 1rem;
}

.intro-text {
    text-align: center;
}

.intro h1 {
    color: #ff6800;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 12vw;
    padding-right: 29.1vw;
}

.intro p {
    color: brown;
    font-family: "Poppins", sans-serif;
    border: 1px solid white;
    background-color: wheat;
  }

  .intro #address,
  .intro a {
    border: none;
    margin-top: 0;
    background-color: transparent;
    color: #fff;
  }

  .logo {
    padding: 0 0.5rem;
  }

  #logo-container {
    display: flex;
    flex-direction: row;
    width: 80%;
    align-items: center;
    margin: 2rem auto;
    padding: 3rem;
    border: 1px solid gray
  }

  #logo-container img {
    width: 20%;
    padding-top: 3%;
  }

  #seperator {
    width: 100%;
    border: 1px solid gray;
  }

  #specials {
    display: flex;
    flex-direction: column;
  }

  .special {
    position: relative;
    margin: 2.4vh 1.2vw;
    margin-bottom: 24px;
  }

  .div-text {
    background-color: rgba(109, 27, 18, 0.6);
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 98%;
    position: absolute;
  }

  .div-text h1 {
    color: white;
    font-family: "Crete Round", sans-serif;
    font-size: 8vw;
  }

  .div-text p {
    top: 36%;
    color: white;
    font-size: 4vw;
    font-family: "Inter", sans-serif;
    line-height: 1.8em;
  }

  @media screen and (min-width: 768px) {
    #specials {
        flex-direction: row;
      }
  }