@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Crete Round&display=swap");
@import url("https://fonts.googleapis.com/css?family=Inter&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.menu-inactive {
  background: hsla(20, 3%, 23%, 1);
  transform: translateX(300%);
  height: 95vh;
  width: 100vw;
}

#toggle {
  width: 1rem;
  height: 1rem;
  background: url(./img/bar-icon.png) no-repeat;
  background-size: 100%;
  z-index: 9999;
  position: fixed;
  right: 2rem;
  top: 0.25rem;
  padding: 2rem;
  border: 0;
}

.toggle-active {
  background: url(./img/close-icon.png) no-repeat;
  z-index: 888;
  display: none;
}

.menu-close {
  display: none;
  width: 1rem;
  height: 1rem;
  z-index: 9999;
  position: fixed;
  right: 1rem;
  top: 1.25rem;
  padding: 2rem;
  border: 0;
  background: url(./img/close-icon.png) no-repeat;
}

.menu-active {
  background: hsla(20, 3%, 23%, 1);
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 95vh;
  z-index: 1;
  padding: 0;
  transform: translateX(0%);
}

.toggle-active ul li {
  color: hsla(40, 100%, 94%, 1);
}

html,
body {
  margin: 0 auto;
  max-width: 100%;
  overflow-x: hidden;
  position: relative;
}

main {
  flex: 1 1 auto;
}

ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 6vw;
}

.about .brief #about-btn {
  margin-left: 7.5vw;
  width: 42vw;
  margin-top: 9rem;
  font-size: 4.2vw;
}

.works .normal .normal-btn {
  position: absolute;
  bottom: 1.5%;
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 0.6em 4em;
  white-space: nowrap;
  margin-bottom: -0.9em;
  font-size: 6vw;
}

button {
  background: #ff6b00;
  color: #fff;
  font-family: "Inter", sans-serif;
  white-space: nowrap;
  letter-spacing: 0.03em;
  font-weight: 700;
  display: flex;
  align-items: center;
  border: 0;
  padding: 1em;
  width: 8em;
}

button:hover {
  color: #f55800;
  background: #fff5e1;
}

button:active {
  color: #f4f1f0;
  background: #e05304;
}

button:disabled {
  color: #f4f1f0;
  background: #5b5957;
}

hr {
  width: 95%;
  border: 1px solid #212121;
}

img {
  width: 100%;
}

label {
  display: none;
}

.navbar {
  display: flex;
  background-color: #3c3a39;
  height: 80px;
  width: 100%;
  position: fixed;
  z-index: 44;
  justify-content: space-between;
}

.works .normal ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1.2vh 3vw;
  background: rgba(255, 255, 255, 0.24);
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 4.5vw;
  color: #fff;
}

.about .list ul li {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 22px;
  line-height: 6vh;
}

#menu {
  transition: transform 800ms ease-in-out;
  position: fixed;
  display: flex;
  flex-direction: column;
  padding: 5rem 2rem;
  margin: 0;
}

#menu li {
  display: block;
  padding: 10px;
  border-bottom: 1px solid #6f6c6b;
  background: #3c3a39;
  font-size: 32px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  line-height: 44px;
}

#menu li a {
  color: hsla(40, 100%, 94%, 1);
}

#top-work ul li {
  box-sizing: border-box;
  border: 1px solid #8993a4;
  align-items: center;
  padding: 0.75em 0.75em;
}

#popup-container ul li {
  font-size: 0.75em;
  white-space: nowrap;
  border: 1px solid #3c3a39;
  padding: 0.5rem 0.7rem;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
}

#menu li:last-child {
  display: none;
}

.logo {
  display: flex;
  width: 90px;
  align-items: center;
}

.logo h1 {
  padding-left: 20px;
  margin: 0;
  color: #fff;
}

/* intro */
.intro {
  background: #1c1a19;
  width: 100%;
  background-image: url("./img/intro-mobile.png");
  background-position: right bottom;
  background-repeat: no-repeat;
  height: 78vh;
  display: flex;
  flex-direction: column;
  padding: 5rem 1rem;
}

footer ul {
  justify-content: center;
  align-items: center;
  padding-inline-start: 0;
}

.intro ul {
  margin-left: -9vw;
}

.intro h1 {
  color: #ff6800;
  font-family: "Crete Round", sans-serif;
  font-weight: 400;
  font-size: 12vw;
  padding-right: 29.1vw;
  align-self: center;
}

.intro p {
  color: #fff;
  font-family: "Poppins", sans-serif;
  margin-top: -3vw;
  width: 80%;
}

footer {
  border-top: 1px solid #dfe1e6;
}

.intro h2 {
  color: #fff5e1;
  font-family: "Roboto", sans-serif;
  font-size: 7.5vw;
  margin-top: -6vw;
  white-space: nowrap;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  align-self: flex-end;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

footer hr {
  border: 1px solid#dfe1e6;
}

@media screen and (min-width: 768px) {
  body {
    width: 100%;
  }

  .nav-heading {
    margin: 0;
    position: absolute;
    top: 1rem;
    font-size: 2rem;
    color: #fff;
    left: 1rem;
    font-family: "Inter", sans-serif;
  }

  #menu li a {
    font-family: "Inter", sans-serif;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0;
    text-align: center;
  }

  #menu li {
    display: flex;
    border-bottom: none;
    font-size: 2.1vw;
  }

  #toggle {
    display: none;
  }

  .navbar {
    justify-content: flex-end;
  }

  #menu {
    flex-direction: row;
    transform: none;
    height: 0;
    width: fit-content;
    padding: 20px 100px 0 0;
  }

  .menu-active {
    display: flex;
    background-color: #3c3a39;
  }

  .intro p {
    font-size: 2.1vw;
    color: #fff;
    font-family: "Poppins", sans-serif;
    margin-top: -3vw;
    padding-top: 6vh;
  }

  #menu li:hover {
    transform: scale(1.5);
    margin: 0;
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.24);
    background-color: rgba(255, 255, 255, 0.24);
    border-radius: 35%;
  }

  #menu li:last-child {
    display: flex;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
  }

  section.intro {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0 auto;
    background-image: url(./img/Illustration-header.png);
    background-position: right center;
    background-size: auto 75%;
    height: clamp(42rem, 88vh, 189rem);
  }

  .intro .intro-text {
    width: 69%;
    margin-left: 9vw;
  }

  .intro .intro-text h1 {
    font-size: 5.1vw;
    white-space: nowrap;
    color: #ff6800;
    font-family: "Crete Round", sans-serif;
    font-weight: 400;
    padding-right: 29.1vw;
    align-self: center;
  }

  .intro h2 {
    font-size: 3.6vw;
    padding-top: 6vh;
  }

  .intro ul {
    flex-direction: column;
    margin-top: -27vw;
    gap: 1.5vw;
    margin-left: -1vw;
  }

  .intro ul li img {
    width: 1.5%;
  }

  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
}
